# Temporary uploads
backend/uploads/*
!backend/uploads/.gitkeep 

# Dependencies
node_modules

# Production
build
dist

# Misc
*.env*

.DS_Store

yarn-debug.log*
yarn-error.log*

.eslintcache

*.code-workspace
